h1
  color darkred
#message
  font-size x-large
p
  color royalblue
  .center
    align

.card
  background-color aquamarine
  border 2px solid
  &:hover
    cursor: hand
    cursor: pointer
  
div
  width 220px
  background-color linen
  padding 10px
  border 1px solid

#beat
  width 200px
  height 50px
  background-color lightblue
  padding 5px
  border 1px solid
  border-radius 5px
  text-align center

#card
  width 200px
  height 50px
  background-color lightblue
  padding 5px
  border 1px solid
  border-radius 5px
  text-align center
  .ex-moved
    background-color: lightcyan

#arena
  width 200px
  height 100px
  background-color lightgray
  padding 5px
  border 1px solid
  border-radius 5px
  text-align center
  .ex-moved
    background-color: lightcyan

#winner
  border 0px solid
  padding 5px
  width 220px
  background-color white